<div class="flex-col shadow-2xl justify-center w-max flex-wrap gap-10 bg-base-darker p-4 rounded">
    <div>
        <label for="chapter">Chapter: </label>
        <input class="input-field w-full" type="number" id="chapter" [formControl]="chapter">
    </div>
    <div>

        <label for="question">Question: </label>
        <input class="input-field w-full" id="question" type="text" [formControl]="question">

    </div>
    <div>
        <label for="code" class="">Code: </label>
        <textarea class="input-field w-full" id="code" type="text" [formControl]="code"></textarea>
    </div>
    <div>
        <label for="answer">Answer: </label>
        <input class="input-field w-full" id="answer" type="text" [formControl]="answer">
    </div>
    <button class="bg-base-darker icon-link p-2 m-2 rounded" type="button" (click)="addQuestion()">
        Add Question
    </button>

</div>