<div class="m-10 icon-link w-fit fixed ">
    <a routerLink="">
        <fa-icon [icon]="faArrowLeft" size="2x"></fa-icon>
    </a>
</div>
<div class="p-10 m-auto w-fit">
    <p class="text-4xl w-fit">
        Categories
    </p>
</div>


<section class="flex flex-nowrap">


    <div class="grid columns-2 px-10 m-4">
        <a class="p-4 mb-4" *ngFor="let category of categories" [routerLink]="['/chapter', category.chapter]">

            <app-category
                    [category]="category"
            ></app-category>
        </a>

    </div>

    <section class=" w-1/2 flex-col p-20">

        <div class="mb-10">

            <fa-icon class="icon-link h-fit" [icon]="faPlus" (click)="addQuestionFormClick()"></fa-icon>
        </div>

        <div>

            <app-add-question-form *ngIf="showAddQuestionForm"></app-add-question-form>
        </div>

    </section>



</section>

