<div class="p-10 w-full flex justify-around select-none">
    <a routerLink="./categories" class="icon-link w-fit">
        <fa-icon [icon]="faQuestion" size="2x"/>
    </a>

    <a routerLink="./account" class="icon-link w-fit">
        <fa-icon [icon]="faUser" size="2x"/>

    </a>

    <a routerLink="./edit-categories" class="icon-link w-fit">
        <fa-icon [icon]="faEdit" size="2x"/>

    </a>

    <div class="text-5xl">
        <p>
            <strong>
                Java Speci
            </strong>
            <fa-icon [icon]="faCoffee"></fa-icon>
        </p>
    </div>
</div>